.feed {
  flex: 1;
  float: left;
  align-content: center;
  display: flex;
  position: relative;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

/* .messagesender_section {
  width: 45%;
  margin: 0px;
  padding: 0;
} */
