.messageSender {
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.messageSender__top {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #eff2f5;
  align-items: center;
}

.messageSender__top > form {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 10px; */
  justify-content: right;
}

.messageSender__top > form > .messageSender__input1 {
  flex: 1 60%;
  min-width: 20ch;
}
.messageSender__top > form > .messageSender__input2 {
  flex: 1 31%;
  min-width: 10ch;
}

.messageSender__top > form > input {
  border: none;
  padding: 5px 20px;
  margin: 0 5px;
  border-radius: 999px;
  background-color: #eff2f5;
  outline: none;
  font-size: 16px;
}

:placeholder-shown {
  font-weight: 500;
  font-family: "Segoe UI";
  font-size: 16px;
}

/* .messageSender__input {
  flex: 1 60%;
} */

.messageSender__top > form > button {
  /* border: none;
  border-radius: 999px;
  background-color: #1877f2;
  color: white; */
  display: none;
}

.messageSender__bottombuttons {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.messageSender__bottom {
  display: flex;
  padding: 10px 20px;
}

.messageSender__option {
  box-sizing: border-box;
  display: flex;
  border: none;
  outline: none;
  align-items: center;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: white;
  margin: 0px;
}

.messageSender__option > h3 {
  margin: 0;
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
}

.messageSender__option:hover {
  background-color: #e4e6eb;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .messageSender__bottombuttons > .hidden_messagesender {
    display: none;
  }
}
