.sidebarroot {
  /* position: relative; */
  /* width: 24%; */
  height: 100vh;
  top: 0px;
  /* float: left; */
  left: 0px;
  margin-left: 0;
}

.sidebar {
  padding: 10px 8px;
  flex: 0.44;
  width: 100%;
  /* position: absolute; */
  /* overflow: hidden; */
}

@media screen and (max-width: 1100px) {
  .sidebarroot {
    display: none;
  }
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.sidebarRow {
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  box-sizing: border-box;
  height: 52px;
  /* width: 25%; */
}

/* .sidebarRow > .MuiSvgIcon-root {
  font-size: x-small;
  box-sizing: border-box;
} */

.sidebarRow:hover {
  background-color: #e4e6eb;
  border-radius: 10px;
}

.sidebarRow > p {
  margin: 0 0 0 15px;
  font-weight: 600;
  font-size: 15px;
}

.sidebarroot > .sidebarRow > .seemorediv {
  color: gray;
  align-content: center;
  margin: 0;
  justify-content: center;
  padding: 2px;
}

.container {
  display: none;
}

/* .seemorebutton:active{
  display: none;
} */

/* .seemorebutton:active {
  overflow: scroll;
}

.sidebarroot::-webkit-scrollbar {
  width: 16px;
}

.sidebarroot::-webkit-scrollbar-track {
  background: #ced0d4 !important;
}

.sidebarroot::-webkit-slider-thumb {
  background: gray;
  border-radius: 10px;
} */
