.story {
  margin: 0 10px 0 0;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 6.975em;
  height: 12.4em;
  padding: 0px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}

.story > .story__avatar {
  margin: 5px;
  border: 3px solid #2e81f4;
  position: absolute;
}

.story > h4 {
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 500px) {
  .endstory {
    display: none;
  }
}
